@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap";
@import "./colors";
@import "./variables";

#root {
    // kolory

    // kursor
    cursor: default;

    // font
    color: $gray-dark;
    font-size: $font-size-base;
    font-family: Raleway, sans-serif;
}
