@import "../../assets/styles/colors";

.home {
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;
    background-color: $background;

    &_right {
        width: 100%;
        display: none;

        img {
            width: 80%;
            float: right;
        }
    }

    &_left {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px 100px;
        gap: 20px;
        box-sizing: border-box;

        .title {
            font-size: 22px;
        }

        .subtitle {
            font-size: 13px;
            color: gray;
            font-weight: 400;
            line-height: 20px;
        }

        .button {
            border: 2px solid $main;
            border-radius: 10px;
            background-color: $main;
            letter-spacing: 1.5px;
            font-size: 10px;
            padding: 12px;
            width: max-content;
            text-align: center;
            color: $white;
            box-sizing: border-box;
            margin-top: 10px;
        }
    }

    @media (width >=767px) {
        &_left {
            width: 50%;
            text-align: left;
            align-items: normal;
            justify-content: center;
            padding: 0 20px 0 40px;

            .title {
                font-size: 30px;
            }

            .subtitle {
                font-size: 16px;
            }

            .button {
                font-size: 12px;
                font-weight: 700;
                padding: 20px;
            }
        }

        &_right {
            width: 50%;
            display: block;

            img {
                width: 100%;
                float: right;
            }
        }
    }

    @media (width >= 1024px) {
        &_left {
            gap: 30px;
            padding: 0 100px;

            .title {
                font-size: 55px;
            }

            .subtitle {
                font-size: 22px;
                line-height: 30px;
            }

            .button {
                font-size: 15px;
                font-weight: 700;
            }
        }

        &_right {
            img {
                width: 90%;
            }
        }
    }
}
