@import "../../assets/styles/colors";

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__image {
        margin: 2vw;
        width: 15%;

        @media (width >=767px) {
            width: auto;
        }
    }
}
