$main: #9036ff;
$white: #fff;
$black: #000;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    position:relative img {
        margin-left: 13vw;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40vw;
        margin-right: 5vw;
        list-style-type: none;
        &-item {
            text-decoration: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            position: relative;
            padding: 0.2%;
            color: grey;
        }
        &-item:last-child {
            border: 2px solid $main;
            border-radius: 10px;
            background-color: $main;
            font-weight: 700;
            padding: 20px;
            width: 100px;
            text-align: center;
            color: $white;
        }
    }
}
